[Unit]
Description=Node.js VK ChatBot Http Server

[Service]
Restart=always
WorkingDirectory=/var/www/VK-BOT/
ExecStart=/usr/local/bin/node /var/www/VK-BOT/app.js

[Install]
WantedBy=multi-user.target